.canned-responses-list {
	.list-group-item {
		overflow-y: auto;
		word-wrap: break-word;	// for IE backwards compatibility
		overflow-wrap: break-word;
	}

	.list-group-item-heading {
		padding-bottom: 0.5em;
		border-bottom: 1px solid @gray-lighter;
	}
}